<ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}">
  <ion-nav-buttons side="secondary">
      
  </ion-nav-buttons>
  <ion-content padding="true" id="mm-login-site" mm-state-class>
      <div class="card">
        <div class="item item-text-wrap">{{ 'mm.login.newsitedescription' | translate }}</div>
      </div>
      <div class="list list-inset">
        <form>

          <div class="item item-input padding">
              <button class="button button-block" ng-click="connect(siteurl)" >{{ 'mm.login.connect' | translate }}</button>
              <!-- <input type="submit" class="button button-block" value="{{ 'mm.login.connect' | translate }}" > -->
          </div>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>
