<ion-view view-title="{{ 'mm.sidemenu.groups' | translate }}">
    <ion-content padding="true">
      <!-- {{message}} -->
      <ion-pane>
        <ion-content class="">
    			<div class="card" >
            <div class="card" ng-repeat='request in requests| filter:frm_coursename.name | orderBy: request.created_at' >
            	<ion-list>
            		<ion-item class="item-avatar">
          			<img src="./img/cife-logo.jpg">
                <h2><b><a href='#/profesor_curso/{{request.id}}' class="">{{request.fullname}}</a></b></h2>
                <p>{{request.firstname}} {{request.lastname}}</p>
                </ion-item>
                <ion-item class="item item-body">
                  <p class="medium-text col-xs-12" ng-bind-html='get_html(forum.message)'></p>
                  <p>
                    {{request.archetype}}
                  </p>
                </ion-item>
              </ion-list>
      			</div>

    			</div>
        </ion-content>
      </ion-pane>
    </ion-content>
</ion-view>
